/* Variables */
:root {
    --primary-color: #343a40;
    --secondary-color: #212427;
    --accent-color: #ff0000;
    --accent-color-hover: #ff0000d0;
    --text-color: white;
    --nav-color: black;
}


/* General Styles */
* {
    font-family: sans-serif;
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

p, li {
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 1.85rem;
}

ol, ul {
    padding-left: 1rem;
}

a:hover {
    opacity: 80%;
}


/* Navbar Styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--text-color);
    height: 6.5vh;
}
.navbar > a {
    font-family: monospace;
    font-weight: bold;
    position: fixed;
    font-size: 1.5rem;
    color: var(--nav-color);
    left: 1rem;
    margin: .5rem 0 .75rem 0;
    text-decoration: none;
}


/* Masthead Styles */
.masthead {
    background-color: var(--primary-color);
    text-align: center;
    height: 93.5vh;
}
.masthead > .header-content {
    padding-top: 30vh;
}
.masthead > .header-content > h1 {
    font-size: 4rem;
}
.masthead > .header-content > h2 {
    padding-bottom: 1.5rem;
}
@media (min-width: 578px) {
    .masthead > .header-content > h1 {
        font-size: 5rem;
    }
}


/* Button Styles */
.btn {
    font-size: 1.1rem;
    text-decoration: none;
    background-color: var(--primary-color);
    border: medium solid var(--accent-color);
    padding: .5rem;
    min-width: 5rem;
}
.btn:hover, .btn:focus {
    background-color: var(--accent-color);
    opacity: 100%;
}


/* Button Cluster Styles */
.button-cluster {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


/* Contact Icon Styles */
.contact-icons {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}


/* Rounded Circle Styles */
.rounded-circle {
    display: inline-block;
    background-color: var(--accent-color);
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
}
.rounded-circle:hover {
    background-color: var(--accent-color-hover);
}
.rounded-circle > .icon {
    display: block;
    text-decoration: none;
    padding: 1.5rem;
}


/* Content Section Styles */
.content-section {
    background-color: var(--primary-color);
    height: 100%;
    min-height: 93.5vh;
}
.content-section:nth-of-type(odd) {
    background-color: var(--secondary-color);
}


/* Section Header Styles */
.section-header {
    padding: 3rem;
}


/* Subheader Styles */
.subheader {
    margin: 2rem 2rem 2rem 0;
}


/* Row Styles */
.row {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    position: relative;
}
@media (min-width: 578px) {
    .row {
        grid-template-columns: auto auto;
    }
}


/* Column Styles */
.col {
    max-width: 600px;
    padding: 0 1.25rem;
    margin: 0 auto 0 auto;
}


/* Center Styles */
.center {
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateY(100%);
}


/* Text Left Styles */
.text-left {
    text-align: left;
}


/* Line Styles */
.line {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line:before,
.line:after {
    content: '';
    border-top: 5px solid;
    margin: 0 25px 0 25px;
    flex: 1 0 20px;
    max-width: 7.5rem;
}