/* Imports */
/* Background Colors */
/* Accent Colors */
/* Text Colors */
/* Screen sizes */
/* Masthead Styles */
.masthead {
  background-color: #343a40;
  text-align: center;
  height: 100vh;
}
.masthead > .header-content > h1 {
  font-size: 4rem;
}
@media (min-width: 568px) {
  .masthead > .header-content > h1 {
    font-size: 5rem;
  }
}
.masthead > .header-content > h2 {
  padding-bottom: 1.5rem;
}
.masthead > .button-cluster {
  position: absolute;
  bottom: 1rem;
}
/* Content Section Styles */
.content-section {
  background-color: #343a40;
  height: 100%;
  min-height: 100vh;
  padding: 1rem;
}
.content-section:nth-of-type(odd) {
  background-color: #212427;
}
/* Section Header Styles */
.section-header {
  padding: 2rem;
}
/* Subheader Styles */
.subheader {
  margin: 2rem 2rem 2rem 0;
}
/* Row Styles */
.row {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}
@media (min-width: 568px) {
  .row {
    grid-template-columns: auto auto;
  }
}
/* Column Styles */
.col {
  max-width: 600px;
  padding: 0 1rem;
  margin: 0 auto 0 auto;
}
/* Navbar Styles
.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: @text-color;
    height: 56px;
    padding: 0 32px;

    > a {
        font-family: monospace;
        font-weight: bold;
        font-size: 1.5rem;
        color: @nav-color;
        text-decoration: none;
    }
}
*/
h1 {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
}
p,
li {
  font-size: 1.1rem;
  line-height: 1.85rem;
}
li {
  line-height: 1.85rem;
}
ol,
ul {
  padding: 1rem;
}
a:hover {
  opacity: 80%;
}
/* Center Styles */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-center {
  text-align: center;
}
/* Text Left Styles */
.text-left {
  text-align: left;
}
/* Line Styles */
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line:before,
.line:after {
  content: '';
  border-top: 5px solid;
  margin: 0 25px;
  flex: 1 0 20px;
  max-width: 7.5rem;
}
/* Button Styles */
.btn {
  font-size: 1.1rem;
  text-decoration: none;
  background-color: #343a40;
  border: medium solid #6495ed;
  padding: 0.75rem 1.25rem;
  min-width: 5rem;
  transition: background-color 150ms ease-in-out;
}
.btn:hover,
.btn:focus {
  background-color: #6495ed;
  opacity: 100%;
}
/* Button Cluster Styles */
.button-cluster {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 40px;
}
/* Button Nav Styles */
.button-nav {
  flex-direction: column;
}
@media (min-width: 568px) {
  .button-nav {
    flex-direction: row;
  }
}
/* Contact Icon Styles */
.contact-icons {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Rounded Circle Styles */
.rounded-circle {
  display: inline-block;
  background-color: #6495ed;
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  transition: background-color 150ms ease-in-out;
}
.rounded-circle > .icon {
  display: block;
  text-decoration: none;
  padding: 1.5rem;
}
.rounded-circle:hover {
  background-color: #6495edd0;
  opacity: 100%;
}
/* General Styles */
* {
  font-family: sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}
