@{
    this.ViewData["Title"] = "Account Settings";

    this.Layout = this.ViewData.TryGetValue("ParentLayout", out var parentLayout)
        ? (string)parentLayout
        : "/Areas/Identity/Pages/_Layout.cshtml";
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container">
    <div class="row p-4">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @this.RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @this.RenderSection("Scripts", required: false)
}
