@page
@model EmailModel
@{
    this.ViewData["Title"] = "Manage Email";
    this.ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3 class="text-white">
    @this.ViewData["Title"]
</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (this.Model.IsEmailConfirmed)
            {
                <div class="form-floating input-group text-black mb-3">
                    <input class="form-control" disabled asp-for="Email"/>
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            <div class="mb-3">
                <label class="form-label text-white" asp-for="Input.NewEmail"></label>
                <input class="form-control" autocomplete="email"
                       aria-required="true" asp-for="Input.NewEmail"/>

                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <button class="btn btn-danger w-100" type="reset">Reset</button>
                </div>
                <div class="col-6">
                    <button id="login-submit" class="btn btn-primary w-100"
                            type="submit">Change email</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
