@page
@{
    this.ViewData["Title"] = "Manage Entities";
}

<h3 class="text-white pb-3">
    Manage Entities
</h3>
<div class="d-flex g-3">
    <a class="entity card bg-black text-white" asp-area=""
        asp-controller="Admin" asp-action="ManageBlogs">

        Blogs
    </a>
    <a class="entity card bg-black text-white" asp-area=""
        asp-controller="Admin" asp-action="ManageProjects">

        Projects
    </a>
    <a class="entity card bg-black text-white" asp-area=""
        asp-controller="Admin" asp-action="ManageDocumentation">

        Documentation
    </a>
</div>
