@inherits LayoutComponentBase

<header class="bg-black position-fixed w-100">
    <NavMenu/>
</header>

<main>
    @this.Body
</main>

<footer class="bg-black footer text-white text-center">
    <span class="text-muted">
        &copy; 2022 - Karl Lukan
    </span>
</footer>

<AnchorNavigation/>
