@{
    this.ViewData["Title"] = "Projects";
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container">

</div>
