@model IEnumerable<Project>
@{
    this.ViewData["Title"] = "Projects";
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container my-5">
    <div class="row gy-sm-4 gy-3">
        @foreach (Project project in this.Model)
        {
            <div class="col-sm-3">
                <component type="typeof(ProjectComponent)"
                           param-Project="@project"
                           render-mode="Static"/>
            </div>
        }
    </div>
</div>
