@model Project
@{
    this.ViewData["Title"] = this.Model.Title;
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-white">
            @this.Html.Raw(this.Model.Description)
        </div>
    </div>
</div>
