@model Blog
@{
    this.ViewData["Title"] = "Edit Blog";
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <form method="post" asp-action="EditBlog">
                <div class="form-floating mb-3">
                    <input class="form-control text-black" type="text"
                            asp-for="Title" value="@this.Model.Title"/>

                    <label class="form-label" asp-for="Title">
                        Title
                    </label>
                    <span class="text-info" asp-validation-for="Title"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control text-black" type="text"
                            asp-for="Details"/>

                    <label class="form-label" asp-for="Details">
                        Details
                    </label>
                    <span class="text-info" asp-validation-for="Details"></span>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Content">
                        @this.Model.Content
                    </textarea>

                    <label class="form-label" asp-for="Content">
                        Content
                    </label>
                    <span class="text-info" asp-validation-for="Content"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-6 d-grid">
                        <button class="btn btn-danger btn-lg" type="reset">
                            Reset
                        </button>
                    </div>
                    <div class="col-6 d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>