@model IEnumerable<Blog>
@{
    this.ViewData["Title"] = "Blogs";
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container my-5">
    <div class="row">
        @foreach (Blog blog in this.Model)
        {
            <div class="col-sm-4">
                <component type="typeof(BlogComponent)"
                           param-Blog="@blog"
                           render-mode="Static"/>
            </div>
        }
    </div>
</div>