.masthead {
  min-height: 94vh;
  width: 100%;
}
.full-page-section {
  min-height: 100vh;
}
.full-page-section:nth-of-type(odd) {
  background-color: #1f1c22;
}
.header {
  border-radius: 0 0 32px 32px;
}
.bg-darken {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
}
.bg-black {
  background-color: black;
}
.bg-neptune {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../Resources/Images/neptune.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 10px 14px;
}
.btn-primary {
  background-color: #512BD4;
}
.navbar {
  height: 6vh !important;
  min-height: 56px;
}
.footer {
  height: 6vh !important;
  line-height: 6vh !important;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #212529;
}