.masthead {
    min-height: 100vh;
    width: 100%;
}

.full-page-section {
    min-height: 100vh;
    padding: 16px 0;

    &:nth-of-type(odd) {
        background-color: #1f1c22;
    }
}

.header {
    border-radius: 0 0 32px 32px;
}
