@{
    this.ViewData["Title"] = "Manage Projects";
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container">
    <div class="row">
        <div class="col-12 text-center p-3">
            <a class="btn btn-outline-light btn-lg" asp-area=""
               asp-controller="Project" asp-action="Add">

               + Add Project
           </a>
        </div>
    </div>
</div>