@{
    this.ViewData["Title"] = "Manage Documentation";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 header bg-black p-5">
            <h1 class="display-4 fw-normal text-white text-center m-5">
                @this.ViewData["Title"]
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center p-3">
            <a class="btn btn-outline-light btn-lg" asp-area=""
               asp-controller="Documentation" asp-action="Write">

               + Write Document
           </a>
        </div>
    </div>
</div>