@page "/"

@using PKaiser.Core.Models
@using PKaiser.Core.Services

@inject IProjectService projectService

<div id="masthead" class="masthead bg-neptune flex-center flex-column">
    <div class="row">
        <div class="col-12">
            <div class="text-white text-center">
                <h1 class="display-1">
                    Karl Lukan
                </h1>
                <h2 class="display-5 fw-regular">
                    Software Developer
                </h2>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col-12 text-center">
            <a class="btn btn-primary btn-outline" href="#about_me">
                About Me
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 pe-2">
            <a class="btn btn-primary rounded" href="https://github.com/PreussenKaiser"
               target="_blank">

                <span class="github"></span>
            </a>
        </div>
        <div class="col-6 ps-2">
            <a class="btn btn-primary rounded" href="https://www.linkedin.com/in/karl-lukan-25723210a/"
               target="_blank">

                <span class="linkedin"></span>
            </a>
        </div>
    </div>
</div>
<div id="about_me" class="full-page-section py-sm-3 flex-center">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h3 class="display-6 fw-normal text-white text-center">
                    About Me
                </h3>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-sm-8 d-flex align-items-center">
                <p class="h5">
                    Currently, I'm a student in the IT Software Developer program at Mid-State Technical College.
                    When I'm not in school - sometimes to my detriment - I work on projects.
                    Most of them get buried somewhere, but the ones that have seen the light of day are on my <a class="text-white" href="https://github.com/PreussenKaiser" target="_blank">GitHub</a>!
                </p>
            </div>
            <div class="col-sm-4 flex-center-sm">
                <img class="w-50 profile-image" src="Resources/Images/me.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 text-white">
                <p class="h5">
                    Those aforementioned projects are typically built with .NET.
                    I always try to learn something new, be it a new framework/technology, design pattern, or architectural style.
                    I enjoy architecting software (weird I know), the thing that constantly crosses my mind while developing is 'Is this extendible/scalable? Are dependencies loosely coupled?'.
                    This often blows up in my face as I spend tons of time brainstorming instead of coding, but hey, this may be useful for an agile team.
                </p>
            </div>
            <div class="col-sm-4 text-white">
                <p>
                    <h4 class="h3 subheader">
                        Comfortable with
                        <br>
                        <span class="h6 text-muted">(in no particular order)</span>
                    </h4>

                    <ul>
                        <li>OOP</li>
                        <li>Design Patterns</li>
                        <li>Back-end Development</li>
                        <li>Git</li>
                        <li>.NET</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3 mx-auto">
                <div class="text-center">
                    <a class="btn btn-primary" href="#projects">
                        Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="projects" class="full-page-section flex-center">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h3 class="display-6 fw-normal text-white text-center">
                    Featured Projects
                </h3>
            </div>
        </div>
        <div class="row gy-sm-4 gy-3 pt-3">
            @foreach (Project project in this.projects)
            {
                <div class="col-sm-4">
                    <ProjectComponent Project="project"/>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col-sm-3 mx-auto">
                <div class="text-center">
                    <a class="btn btn-primary" href="#masthead">
                        Back to top
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    /// <summary>
    /// Featured projects to display.
    /// </summary>
    private IEnumerable<Project> projects = new List<Project>();

    /// <summary>
    /// 
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
        => this.projects = await this.projectService.GetAllFeaturedProjectsAsync();
}