@model IEnumerable<Project>
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="masthead bg-neptune flex-center">
    <div class="text-white text-center">
        <h1 class="display-1 fw-normal">
            Karl Lukan
        </h1>
        <h2 class="display-5">
            Software Developer
        </h2>
    </div>
</div>
<div class="full-page-section flex-center">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h3 class="display-6 fw-normal text-white text-center">
                    About Me
                </h3>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-sm-6 d-flex align-items-center">
                <p class="fs-5">
                    My name is Karl Lukan and I'm majoring in the IT Software Developer program at Mid-State Technical College.
                    I'm primarily into application development, but I just love programming in general.
                    Consequently, I'm a pretty huge nerd - anything related to tech/science makes my synapses fire.
                </p>
            </div>
            <div class="col-sm-6 flex-center">
                <img class="w-50 border border-primary border-5 rounded-circle" src="~/Resources/Images/me.jpg" />
            </div>
        </div>
    </div>
</div>
<div class="full-page-section flex-center">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h3 class="display-6 fw-normal text-white text-center">
                    Featured Projects
                </h3>
            </div>
        </div>
        <div class="row">
            @foreach (Project project in this.Model)
            {
                <div class="col-sm-6">
                    <component type="typeof(ProjectComponent)"
                               param-Project="@project"
                               render-mode="Static"/>
                </div>
            }
        </div>
    </div>
</div>
<div class="full-page-section flex-center">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h3 class="display-6 fw-normal text-white text-center">
                    Skills
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p class="fs-5 text-white">
                    I'm a natural team player and a life-long learner.
                    Nothing beats the joy of solving problems while creating applications for me.
                    As a result I love coding, even during school breaks I drown myself in projects.
                    I just love creating things in general, be it in a game or an IDE.

                    I really enjoy C# as a language and .NET in general due to how easy it is to create cross platform applications.
                    With just one language I can work on a mobile app, then switch to making games without changing languages.
                </p>
            </div>
            <div class="col-sm-4 text-white">
                <h4 class="h3 subheader">
                    Comfortable with<br>
                    <span class="h6 text-muted">(in no particular order)</span>
                </h4>

                <ul>
                    <li>C#</li>
                    <li>Java</li>
                    <li>HTML/CSS/JS</li>
                    <li>Bootstrap, Less.js, Typescript</li>
                    <li>Xamarin</li>
                    <li>OOP</li>
                </ul>
            </div>
        </div>
    </div>
</div>
