@model IEnumerable<Project>
@{
    this.ViewData["Title"] = "Home";
}

<div id="masthead" class="masthead bg-neptune flex-center">
    <div class="row">
        <div class="col-12">
            <div class="text-white text-center">
                <h1 class="display-1 fw-normal">
                    Karl Lukan
                </h1>
                <h2 class="display-5">
                    Software Developer
                </h2>
            </div>
        </div>
        <div class="col-sm-3 mx-auto mt-3">
            <div class="text-center">
                <a class="btn btn-primary" href="#about_me">
                    About Me
                </a>
            </div>
        </div>
    </div>
</div>
<div id="about_me" class="full-page-section flex-center">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h3 class="display-6 fw-normal text-white text-center">
                    About Me
                </h3>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-sm-6 d-flex align-items-center">
                <p class="fs-5">
                    <b>I may not be great at explaining myself, so bear with me.</b>
                    <br/>
                    Currently, I'm a student in the IT Software Developer program at Mid-State Technical College.
                    Learning is something we all have to do, some even like it.
                    What interests me is sharing my growth with others, be it in a professional environment, school, or just to random people I meet.
                </p>
            </div>
            <div class="col-sm-6 flex-center">
                <img class="w-50 border border-primary border-5 rounded-circle" src="~/Resources/Images/me.jpg" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-8 fs-5 text-white">
                <p>
                    Now for what I believe I'm good at.
                    Anybody could have written the previous paragraph, but I can back it up with my time as a tutor for Mid-State Technical College.
                    There's obviously other examples of me collaborating with others, but that one serves as offical proof.
                </p>
                <p>
                    I also love creating things, especially software.
                    This may sound nerdy, but I really like architecting something that's scalable and maintainable.
                    This can be detrimental however, as I typically choose the 'built very well but takes awhile to finish' approach vs. 'it is usable and met the deadline'.
                </p>
            </div>
            <div class="col-sm-4 text-white">
                <h4 class="h3 subheader">
                    Comfortable with<br>
                    <span class="h6 text-muted">
                        (in no particular order)
                    </span>
                </h4>

                <ul>
                    <li>C#</li>
                    <li>Java</li>
                    <li>HTML/CSS/JS</li>
                    <li>Bootstrap, Less.js, Typescript</li>
                    <li>Xamarin/.NET MAUI</li>
                    <li>OOP</li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3 mx-auto">
                <div class="text-center">
                    <a class="btn btn-primary" href="#projects">
                        Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="projects" class="full-page-section flex-center">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h3 class="display-6 fw-normal text-white text-center">
                    Featured Projects
                </h3>
            </div>
        </div>
        <div class="row gy-4">
            @foreach (Project project in this.Model)
            {
                <div class="col-sm-6">
                    <component type="typeof(ProjectComponent)"
                                param-Project="@project"
                                render-mode="Static"/>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col-sm-3 mx-auto">
                <div class="text-center">
                    <a class="btn btn-primary" href="#masthead">
                        Back to top
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
