/** Colors */
/** Values */
/** Screens */
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.rounded {
  border-radius: 50% !important;
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../Resources/Fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSansSemibold";
  src: url("../Resources/Fonts/OpenSans-Semibold.ttf");
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 h6,
.h6 {
  font-family: OpenSansSemibold;
  margin: 0;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}
.display-1 {
  font-size: calc(1.625rem + 2.5vw);
}
.display-5 {
  font-size: calc(1rem + 1.5vw);
  font-weight: 100;
}
.display-6 {
  font-size: calc(1.15rem + 2vh);
}
.fw-regular {
  font-family: OpenSansRegular;
}
.fw-bold {
  font-family: OpenSansSemibold;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-muted {
  opacity: 0.5;
}
.masthead {
  min-height: 100vh;
  width: 100%;
}
.full-page-section {
  min-height: 100vh;
  padding: 32px 0;
}
.full-page-section:nth-of-type(odd) {
  background-color: #1f1c22;
}
.header {
  padding: 64px 0;
  padding-top: 108px;
}
.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 12px;
  padding: 16px;
  transition: 0.15s ease-in-out;
}
.card:hover {
  outline: solid 4px white;
}
.card-title {
  font-size: 1.45rem;
  margin: 0;
  margin-bottom: 16px;
}
.entity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 144px;
  width: 144px;
}
.bg-darken {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
}
.bg-black {
  background-color: black;
}
.bg-neptune {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../Resources/Images/neptune.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 556px) {
  .flex-center-sm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.text-center {
  text-align: center;
}
.position-fixed {
  position: fixed;
}
.ms-5 {
  margin-left: 64px;
}
.float-start {
  float: left;
}
.float-end {
  float: right;
}
.g-3 {
  gap: 12px;
}
.btn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  border: 0;
  padding: 10px 14px;
  transition: 0.25s ease-in-out;
}
.btn-primary {
  background-color: #512BD4;
  color: white;
}
.btn-primary:hover {
  background-color: #4525b4;
}
.btn-danger {
  background-color: #a91d2a;
  color: white;
}
.btn-danger:hover {
  background-color: #881722;
}
.btn-outline {
  outline: solid 3px white;
}
.btn-outline:hover {
  outline-color: transparent;
}
.pkaiser-nav {
  max-width: 996px;
  margin: 0 auto;
  padding: 16px 8px;
  transition: 0.25s ease-in-out;
}
.pkaiser-nav .nav-item,
.pkaiser-nav .logo > a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-color: transparent;
}
.pkaiser-nav .logo > a {
  padding-top: 10px;
  padding-left: 8px;
}
.nav-wrapper {
  overflow: hidden;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.nav-items {
  margin: 0;
  list-style: none;
  padding: 0;
}
.nav-items .nav-item {
  display: block;
  font-size: 1.15rem;
  border: 0;
  padding: 10px 16px;
  transition: 0.25s ease-in-out;
}
.nav-items .nav-item:hover {
  background-color: #512BD4;
  border-radius: 32px;
}
.pkaiser-collapse-nav {
  display: none;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .pkaiser-nav {
    padding: 0;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 8px;
  }
  .nav-wrapper {
    height: 0;
  }
  .pkaiser-collapse-nav {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .pkaiser-nav,
  .nav-items {
    display: flex;
  }
  .pkaiser-nav {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 996px) {
  .pkaiser-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.profile-image {
  border: solid 4px #512BD4;
  border-radius: 50%;
}
.form-label {
  font-family: OpenSansSemibold;
  margin: 0;
  font-size: 1rem;
  display: block;
  margin-bottom: 8px;
}
.form-control {
  display: block;
  background-color: black !important;
  color: white !important;
  font-size: 1rem;
  width: 100%;
  outline-color: transparent;
  border: 0;
  border-radius: 12px;
  padding: 16px;
  transition: 0.25s ease-in-out;
}
.form-control:focus {
  outline: solid 4px #512BD4;
}
.form-check-input {
  margin-top: 2px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #512BD4;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.table thead > tr {
  background-color: black;
}
.table th,
.table td {
  text-align: start;
  padding: 8px 16px;
}
.table tr:nth-child(even) {
  background-color: darkslategray;
}
.footer {
  padding: 16px;
}
.icon-position {
  position: relative;
  top: 2px;
}
.github:before {
  position: relative;
  top: 2px;
  content: url("../Resources/Images/github.svg");
}
.linkedin:before {
  position: relative;
  top: 2px;
  content: url("../Resources/Images/linkedin.svg");
}
* {
  font-family: OpenSansRegular;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #212529;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-thumb {
  background-color: darkslategray;
}