@page
@model RegisterModel
@{
    this.ViewData["Title"] = "Register admin";
}

<h3 class="text-white pb-3">
    @this.ViewData["Title"]
</h3>
<div class="row">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label text-white"></label>
                <input class="form-control" autocomplete="username"
                       aria-required="true" asp-for="Input.Email"/>

                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label text-white" asp-for="Input.Password"></label>
                <input class="form-control" autocomplete="new-password"
                       aria-required="true" asp-for="Input.Password"/>

                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label text-white" asp-for="Input.ConfirmPassword"></label>
                <input class="form-control" autocomplete="new-password"
                       aria-required="true" asp-for="Input.ConfirmPassword"/>

                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <button class="btn btn-danger w-100" type="reset">Reset</button>
                </div>
                <div class="col-6">
                    <button id="login-submit" class="btn btn-primary w-100"
                            type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
