@page "/project/{id:int}"

@using PKaiser.Core.Models
@using PKaiser.Core.Services

@inject IProjectService projectService

<HeaderComponent Title="@this.project.Title"/>

<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-white">
            <p class="mb-5">
                <a class="btn btn-primary" href="@this.project.Url"
                   target="_blank">

                   <span class="github me-2"></span> View on GitHub
               </a>
            </p>

            @((MarkupString)this.project.Content)
        </div>
    </div>
</div>

@code
{
    /// <summary>
    /// The project to display.
    /// </summary>
    private Project project;

    /// <summary>
    /// Gets or initializes the identifier of the project to view.
    /// </summary>
    [Parameter]
    public int Id { get; set; }

    /// <summary>
    /// Initializes the viewed project.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
        => this.project = await this.projectService.GetProjectAsync(this.Id);
}
