@{
    this.ViewData["Title"] = "Manage Projects";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-black text-center p-5">
            <h1 class="display-4 fw-normal text-white m-5">
                Manage Projects
            </h1>
            <a class="btn btn-outline-light btn-lg" asp-area=""
               asp-controller="Project" asp-action="Add">

               + Add Project
           </a>
        </div>
    </div>
</div>
<div class="container">

</div>