@page
@model LoginModel
@{
    this.ViewData["Title"] = "Login";
}

<component type="typeof(HeaderComponent)"
           param-Title="@this.ViewData["Title"]"
           render-mode="Static"/>

<div class="container">
    <div class="row">
        <div class="col-sm-4 mx-auto p-5">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label text-white" asp-for="Input.Email"></label>
                    <input class="form-control" autocomplete="username"
                           aria-required="true" asp-for="Input.Email"/>

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-white" asp-for="Input.Password"></label>
                    <input class="form-control" autocomplete="current-password"
                           aria-required="true" asp-for="Input.Password"/>

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-white" asp-for="Input.RememberMe">
                        @this.Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                    <label class="switch">
                        <input asp-for="Input.RememberMe" />
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <button class="btn btn-danger w-100" type="reset">Reset</button>
                    </div>
                    <div class="col-6">
                        <button id="login-submit" class="btn btn-primary w-100"
                                type="submit">Log in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
