@page
@model RegisterModel
@{
    this.ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 header bg-black p-5">
            <h1 class="display-4 fw-normal text-white text-center m-5">
                @this.ViewData["Title"]
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 bg-black rounded mx-auto p-5">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" class="w-100 btn btn-lg btn-primary mb-3"
                        type="submit">

                    Register
                </button>
            </form>
        </div>
    </div>
</div>
.<div class="masthead flex-center flex-column">
    <div class="container">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
