@using PKaiser.Core.Models

<div class="card bg-black text-white">
    <div class="card-body">
        <h3 class="h2 card-title">
            @this.Blog.Title
        </h3>
        <div class="card-text">
            @this.Blog.Details
        </div>
    </div>
    <a class="btn btn-outline-info" href="Blog/ViewBlog?id=@this.Blog.Id">
        View
    </a>
</div>

@code
{
    /// <summary>
    /// Gets or initializes the blog to display.
    /// </summary>
    [Parameter]
    public Blog Blog { get; init; }
}
