@using PKaiser.Core.Models

<a href="Project/ViewProject?id=@this.Project.Id" class="card bg-black text-white h-100">
    <h3 class="card-title">
        @this.Project.Title
    </h3>
    <p>
        @this.Project.Details
    </p>
</a>

@code
{
    /// <summary>
    /// Gets or initializes the component's project.
    /// </summary>
    [Parameter]
    public Project Project { get; init; }
}
