@using PKaiser.Core.Models

<div class="card bg-black text-white">
    <div class="card-body">
        <h3 class="h2 card-title">
            @this.Project.Title
        </h3>
        <div class="card-text">
            @((MarkupString)this.Project.Description)
        </div>
    </div>
    <a class="btn btn-outline-info" href="Project/ViewProject?projectId=@this.Project.Id">
        View
    </a>
</div>

@code
{
    /// <summary>
    /// Gets or initializes the component's project.
    /// </summary>
    [Parameter]
    public Project Project { get; init; }
}
