<div class="header bg-black">
    <h1 class="display-4 fw-normal text-white text-center m-sm-5">
        @this.Title
    </h1>
</div>

@code
{
    /// <summary>
    /// Gets or initializes the header's title.
    /// </summary>
    [Parameter]
    public string Title { get; init; }
}
