@{
    this.ViewData["Title"] = "Home";
}

<div id="masthead" class="masthead bg-neptune flex-center flex-column">
    <div class="row">
        <div class="col-12">
            <div class="text-white text-center">
                <h1 class="display-1">
                    Karl Lukan
                </h1>
                <h2 class="display-6 fw-regular">
                    Administrator!
                </h2>
            </div>
        </div>
    </div>
</div>
