<nav class="pkaiser-nav">
    <h1 class="logo">
        <a href="">
            Karl Lukan
        </a>
        <button id="nav-collapse" class="pkaiser-collapse-nav nav-item"
                type="button" @onclick="this.ToggleNavMenu">

            &#9776;
        </button>
    </h1>
    @if (!this.collapseNavMenu)
    {  
        <div class="nav-wrapper">
            <ul class="nav-items float-start">
                <li>
                    <a class="nav-item" href="">
                        Home
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="projects">
                        Projects
                    </a>
                </li>
            </ul>
        </div>
    }
</nav>

@code
{
    /// <summary>
    /// Whether to collapse navigation or not.
    /// </summary>
    private bool collapseNavMenu = false;

    /// <summary>
    /// Gets the CSS modifier for the navbar.
    /// </summary>
    private string NavMenuCssClass
        => this.collapseNavMenu ? "collapse" : null;

    /// <summary>
    /// Toggles navigation between collapsed and expanded.
    /// </summary>
    private void ToggleNavMenu()
        => this.collapseNavMenu = !this.collapseNavMenu;
}
