<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Karl Lukan - @this.ViewData["Title"]</title>
    <link rel="icon" href="~/Resources/Images/icon.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PKaiser.styles.css" asp-append-version="true"/>
</head>
<body>
    <header class="bg-black position-fixed w-100">
        <partial name="_Navigation"/>
    </header>

    <main role="main">
        @this.RenderBody()
    </main>

    <footer class="bg-black footer text-white text-center">
        <span class="text-muted">
            &copy; 2022 - Karl Lukan
        </span>
    </footer>

    <!-- Vendor JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/out/site.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)

    <!-- Initializes TinyMCE -->
    <script type="text/javascript">
        tinymce.init({
          selector: 'textarea'
        });
    </script>
</body>
</html>
